vti_encoding:SR|utf8-nl
vti_author:SR|ET\\Instructor
vti_modifiedby:SR|KEYS\\Keville
vti_timelastmodified:TR|10 May 2016 00:04:25 -0000
vti_timecreated:TR|12 Apr 2016 15:02:47 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|sr-media4/default.html master.dwt index-test.html products/default.html index.html\\ test.html sr-media4/index-test\\ 1.html sr-media4/sr.html sr.html video/video.html sr-media4/index-test.html about/default.html contact/default.html default.html news/default.html index-test\\ 1.html sr-media4/index.html\\ test.html sr-media4/master.dwt
vti_nexttolasttimemodified:TW|10 May 2016 00:03:31 -0000
vti_cacheddtm:TX|10 May 2016 00:04:25 -0000
vti_filesize:IR|917
